{% extends "layout.html.twig" %}

{% block header %}
  <b>{{player_name}}: it's your turn</b>
{% endblock %}

{% block content %}
  <div>
    <p>If you are not {{player_name}}, please pass the phone.</p>
    <p>
      <b>{{player_name}}: prepare to enter your actions</b>.  The actions
      should not be kept a secret from other players.  You will be alerted when
      it is time for your secret messages.
    </p>
    <p><a href="{{WEBROOT}}/play/action_start_turn/{{game_id}}" class="btn btn-primary btn-lg" role="button">Start Turn</a></p>
  </div>

{% endblock %}

