{% extends "layout.html.twig" %}

{% block header %}
  <b>{{player_name}} - secret message from Headquarters</b>
{% endblock %}

{% block content %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      Turn #{{turn}} complete
    </div>
    <div class="panel-body player-location">{{zone.name}}</div>
  </div>

  <div>
    <p>If you are not {{player_name}}, please pass the phone.</p>
    <p>
      <b>{{player_name}}: prepare to read your secret message</b>.  Pick up the phone and make sure
      nobody else can see it, then retrieve your message.
    </p>
    <p>
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#secret-message">
        Reveal Secret Message
      </button>
    </p>
  </div>

  <div class="modal fade" id="secret-message" tabindex="-1" role="dialog"
       aria-labelledby="secret-message-label" aria-hidden="true"
       data-backdrop="static"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 id="secret-message-label" class="modal-title">
            {{player_name}}, you have the following messages
          </h4>
        </div>

        <div class="modal-body">
          <ul>
            {% for message in secret_messages %}
              <li>{{message}}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="modal-footer">
          <form action="{{WEBROOT}}/play/action_end_turn/{{game_id}}" method="post">
            <input type="submit" value="End Turn" class="btn btn-primary" />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
